/* Universal selectors... */
* {
  box-sizing: border-box;
}

html {
  color: #3c373b;
  width: 650px;
  margin: 0 auto;
  background-image: url("https://media.istockphoto.com/vectors/seamless-vector-bakery-pastry-pattern-vector-id880710798?k=20&m=880710798&s=612x612&w=0&h=9T08hDrfr0AjDPqRZt-fK0kgqSdKxtYE7F2vESsxAxc=");
  background-size: 100%;
}

h1 {
  font-family: "Gaegu", cursive;
  font-size: 60px;
  text-align: center;
  color: #e9d0c4;
  
  background-color: #aa8a70;
  /* background: #aa8a70 url("https://img.icons8.com/color/344/brigadeiro.png") no-repeat;
  background-position-y: top 10px;
  background-position-x: center;
  background-size: 100%; */

  margin: 20px 0;
  border: 2px outset #e9d0c4;
  border-radius: 25px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Gaegu", cursive;
  font-size: 30px;
  color: #FEF9E3;

  background-color: #ab8a6f;
  
  margin-bottom: 0;
  padding: 0 10px;
  border-radius: 20px 30px 0px 20px;
}

.container {
  height: 485px;
  width: 605px;
  padding-bottom: 0px;
  margin-top: 15%;
  /* margin: auto; */

  border: 1px #AB8A6F;
  border-style:inset;
  border-radius: 100% 100% 10% 10%;
}


section {
  background: transparent;
  border-radius: 40px;
  backdrop-filter: blur(5px);
}
/* End of universals. */

              /* .container holds the entire heading section. 
              This is where all of the styling for that is grouped. */


          /* Section for navbar.. */
.container nav {
  padding-left: 2.5%;
  margin: auto;
}
.container a {
  display: inline-block;
  width:auto;
  padding-left: 5px;
  padding-right:5px;
  padding-top: 20px;
  margin: 2%;

  font-family: "Gaegu", cursive;
  font-size: 23px;
  font-style: bold;
  text-decoration: none;
  text-align: left;
  color: #2F120B;
  line-height: 125px;
}
.container a:hover {
  color: #AC8A6F;
}
          /* the individuals */
.container a.about{
  background: transparent url("https://img.icons8.com/color/344/confectionery.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 100%;

  text-align: center;
}
.container a.cookies{
  background: transparent url("https://img.icons8.com/color/344/cookies.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 80%;

  text-align: center;
}
.container a.celebrations{
  background: transparent url("https://img.icons8.com/color/344/cake.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 50%;

  text-align: center;
}
.container a.catering{
  background: transparent url("https://img.icons8.com/color/344/dessert.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 70%;

  text-align: center;
}
.container a.contact{
  background: transparent url("https://img.icons8.com/color/344/cinnamon-roll.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 90%;

  text-align: center;
  
}
          /* above there lay navbar links */

       
          
header img {
  width: 100%;
}


          /* Home contains most of the main content of the page. */
.home {
  background: #ead0c4;
  border-left: 1px solid #BC9266;
  border-right: 1px solid #BC9266;
  padding-bottom: 3%;
}

#about {
  color: #FEF9E3;
  text-align: center;
  border-right: 10px solid #ab8a6f;
}
#about p{
  margin-bottom: 5%;
  color: #2F120B;
}

#cupcakeflavor p, #celebrations p {
  border-left: 1px solid #aa8a70;
}


section.home div#cookies p {
  border-right: 1px solid #aa8a70;
}
section.home h3, section.home div#celebrations h2 {
  text-align: right;
  border-radius: 30px 20px 20px 0px;
}


section.home img {
  position: relative;
  margin-top: 20%;
  border-radius: 10% 10% 10% 10%;
}
p {
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}


img {
  border-radius: 10px;
}

.content-row {
  display: flex;
}

.content-row div {
  /*======= create a margin property.  Set the value to 20px */
  margin: 20px;
}




section#about {
  margin-top: 20px;
}
section#contact {
  border-top: 1px dashed #2F120B;
  padding: 20px 0;
}

#contact h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

#contact address {
  line-height: 2;
  padding: 0;
  font-style: normal;
}

#contact address a {
  color: #3c373b;
  text-decoration: none;
}
footer {
  width: 100%;
  background: #f87b99;
  border-top: 1px dashed #e9d0c4;
}

footer .footer-content {
  margin: 0 auto;
  /*======= create a width property. Set the value to 600px */
  width: 600px;
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

footer nav a {
  margin: 10px;
  color: #2F120B;
  text-decoration: underline;
}

footer nav a:first-child {
  margin-left: 0;
}
footer nav a:hover {
  color: #e9d0c4;
}


footer .footer-content .copyright {
  padding: 20px 0;
  /*======= center the text here */
  text-align: center;
}
