/* Universal selectors... */
* {
  box-sizing: border-box;
}

html {
  color: #3c373b;
  width: 650px;
  margin: 0 auto;
  background-image: url("https://media.istockphoto.com/vectors/seamless-vector-bakery-pastry-pattern-vector-id880710798?k=20&m=880710798&s=612x612&w=0&h=9T08hDrfr0AjDPqRZt-fK0kgqSdKxtYE7F2vESsxAxc=");
  background-size: 100%;
}

h1 {
  font-family: "Gaegu", cursive;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #e9d0c4;
  font-size: 60px;
  text-align: center;
  color: #e9d0c4;
  background-color: #aa8a70;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Gaegu", cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
  border-radius: 20px 30px 0px 20px;
  color: #FEF9E3;
  background-color: #ab8a6f;
}
/* End of universals. */

/* the section for all the sections!! */
section {
  background: transparent;
  border-radius: 40px;
  backdrop-filter: blur(5px);
}

section.home {
  background: #ead0c4;
  border-left: 1px solid #BC9266;
  border-right: 1px solid #BC9266;
}

section header img {
  width: 100%;
}

section#about {
  color: #FEF9E3;
  text-align: center;
  border-right: 10px solid #ab8a6f;
}
section#about p{
  margin-bottom: 10%;
  color: #2F120B;
}

section.home div#cookies p {
  border-right: 1px solid #aa8a70;
}
section.home h3, section.home div#celebrations h2 {
  color: #FEF9E3;
  text-align: right;
  border-radius: 30px 20px 20px 0px;
  background-color: #aa8a70;
}

section.home div#cupcakeflavor p, section.home div#celebrations p {
  border-left: 1px solid #aa8a70;
}

section.home img {
  position: relative;
  margin-top: 20%;
  border-radius: 10% 10% 10% 10%;
}
p {
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}


img {
  border-radius: 10px;
}

.content-row {
  display: flex;
}

.content-row div {
  /*======= create a margin property.  Set the value to 20px */
  margin: 20px;
}

.container {
  /*======= create a width property. Set the value to 605px */
  margin: 0 auto;
  width: 605px;
}

.container header nav {
  padding-left: 2.5%;
}
.container header nav a {
  /* background: transparent url("https://img.icons8.com/carbon-copy/344/confectionery.png") center no-repeat; */
  font-family: "Gaegu", cursive;
  width:absolute;
  line-height: 125px;
  /* background-color: #FFECD2; */
  margin: 2%;
  /* border: 1px solid lightgray; */
  padding-left: 5px;
  padding-right:5px;
  padding-top: 20px;
  border-spacing: 50px;
  display: inline-block;
  border-radius: 20px;
  color: #2F120B;
  text-decoration: none;
  text-align: left;
  font-size: 23px;
  font-style: bold;
}
.container header nav a:hover {
  /*======= create a background property and set it to #E9D0C4.  Then create a color property and set it's value to pink. */
  color: #AC8A6F;
}
.container header nav a.about{
  background: transparent url("https://img.icons8.com/color/344/confectionery.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 100%;
  text-align: center;

}

.container header nav a.cookies{
  background: transparent url("https://img.icons8.com/color/344/cookies.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 80%;
  text-align: center;
}

.container header nav a.celebrations{
  background: transparent url("https://img.icons8.com/color/344/cake.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 50%;
  text-align: center;
}
.container header nav a.catering{
  background: transparent url("https://img.icons8.com/color/344/dessert.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 70%;
  text-align: center;
}
.container header nav a.contact{
  background: transparent url("https://img.icons8.com/color/344/cinnamon-roll.png") no-repeat;
  background-position-y: bottom 10px;
  background-position-x: center;
  background-size: 90%;
  text-align: center;
  
}

section#about {
  margin-top: 20px;
}
section#contact {
  border-top: 1px dashed #2F120B;
  padding: 20px 0;
}

#contact h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

#contact address {
  line-height: 2;
  padding: 0;
  font-style: normal;
}

#contact address a {
  color: #3c373b;
  text-decoration: none;
}
footer {
  width: 100%;
  background: #f87b99;
  border-top: 1px dashed #e9d0c4;
}

footer .footer-content {
  margin: 0 auto;
  /*======= create a width property. Set the value to 600px */
  width: 600px;
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

footer nav a {
  margin: 10px;
  color: #2F120B;
  text-decoration: underline;
}

footer nav a:first-child {
  margin-left: 0;
}
footer nav a:hover {
  color: #e9d0c4;
}


footer .footer-content .copyright {
  padding: 20px 0;
  /*======= center the text here */
  text-align: center;
}
